body {
  background: url(../images/tile.gif); }

#wrap {
  padding: 2em 4em;
  margin: 0 auto;
  width: 960px;
  background: rgba(250, 250, 250, 0.95);
  overflow: auto;
  border: 2px solid white; }

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: 500;
  color: #29231f; }

#header {
  border-bottom: 3px solid #338895;
  padding-bottom: 2.5em;
  padding-top: 1em; }

h1 {
  font-size: 4em;
  margin-top: 0.5em;
  display: inline; }

.twitter {
  text-shadow: none;
  font-size: 0.8em;
  color: #338895;
  background: #eeeeee;
  border-radius: 2px;
  padding: 0.2em 0.4em 0.3em 0.4em;
  cursor: pointer; }

h2 {
  font-size: 3em; }

.block {
  width: 45%;
  float: left; }
